button[mat-button]{
  padding-top: 5px;
  padding-bottom: 5px;
  width: 100%;
  text-align: left;
}

.mat-list-item{
  height: auto !important;
}

.active{
  background-color: #3F51B5;
  color: white;
}
