<mat-toolbar color="primary">
  <mat-toolbar-row>
    <span class="title-center">Change Password</span>
  </mat-toolbar-row>
</mat-toolbar>

<mat-dialog-content class="mat-typography">
  <form [formGroup]="changePasswordForm">
    <div>

      <mat-form-field appearance="fill">
        <mat-label>Old Password</mat-label>
        <input matInput formControlName="old_password" type="password" required>
        <mat-error
          *ngIf="changePasswordForm.controls['old_password'].touched && changePasswordForm.controls['old_password'].invalid">
          <span *ngIf="changePasswordForm.controls['old_password'].errors?.['required']">This field is mandatory.</span>
        </mat-error>
      </mat-form-field>

      <mat-form-field appearance="fill">
        <mat-label>New Password</mat-label>
        <input matInput formControlName="new_password" type="password" required>
        <mat-error
          *ngIf="changePasswordForm.controls['new_password'].touched && changePasswordForm.controls['new_password'].invalid">
          <span *ngIf="changePasswordForm.controls['new_password'].errors?.['required']">This field is mandatory.</span>
        </mat-error>
      </mat-form-field>

      <mat-form-field appearance="fill">
        <mat-label>Confirm Password</mat-label>
        <input matInput formControlName="confirm_password" type="password" required>
        <mat-error
          *ngIf="changePasswordForm.controls['confirm_password'].touched && changePasswordForm.controls['confirm_password'].invalid">
          <span *ngIf="changePasswordForm.controls['confirm_password'].errors?.['required']">This field is mandatory.</span>
        </mat-error>
        <mat-hint *ngIf="validateSubmit() && this.changePasswordForm.controls['confirm_password'].valid">
          <span>New password and confirm password does not match!</span>
        </mat-hint>
      </mat-form-field>

    </div>
  </form>
</mat-dialog-content>

<mat-dialog-actions align="center">
  <button mat-raised-button color="primary" type="submit" (click)="onSubmit()" [disabled]="!changePasswordForm.valid">
    Confirm
  </button>

  <button mat-raised-button color="primary" mat-dialog-close>
    Cancel
  </button>
</mat-dialog-actions>