.content{
  padding: 8px;
}

.toolbar{
  display: flex;
  justify-content: space-between;
}

.toolbar-text{
  display: flex;
  justify-content: center;
  align-items: center;
}

.mat-form-field{
  width: 100%;
}

.toolbar{
  padding: 8px 16px;
}

.mat-column-index{
  flex: 0 0 5%;
}