<div class="content">

  <mat-card class="toolbar">
    <span class="toolbar-text"><b>Manage Order</b></span>
  </mat-card>

  <br>

  <mat-card>
    <mat-form-field appearance="fill">
      <mat-label>Filter</mat-label>
      <input matInput (keyup)="applyFilter($event)" #input>
    </mat-form-field>
  </mat-card>

  <br>

  <mat-card>
    <mat-table [dataSource]="dataSource">

      <ng-container matColumnDef="index">
        <mat-header-cell *matHeaderCellDef>Index</mat-header-cell>
        <mat-cell *matCellDef="let i = index;">{{i+1}}</mat-cell>
      </ng-container>

      <ng-container matColumnDef="name">
        <mat-header-cell *matHeaderCellDef>Name</mat-header-cell>
        <mat-cell *matCellDef="let element">{{element.name}}</mat-cell>
      </ng-container>

      <ng-container matColumnDef="email">
        <mat-header-cell *matHeaderCellDef>Email</mat-header-cell>
        <mat-cell *matCellDef="let element">{{element.email}}</mat-cell>
      </ng-container>

      <ng-container matColumnDef="contactNumber">
        <mat-header-cell *matHeaderCellDef>Contact Number</mat-header-cell>
        <mat-cell *matCellDef="let element">{{element.contactNumber}}</mat-cell>
      </ng-container>

      <ng-container matColumnDef="status">
        <mat-header-cell *matHeaderCellDef>Status</mat-header-cell>
        <mat-cell *matCellDef="let element">
          <mat-slide-toggle color="primary" (change)="onChange($event.checked, element.id)"
            matTooltip="Activate or Deactivate Product" [checked]="element.status">
          </mat-slide-toggle>
        </mat-cell>
      </ng-container>

      <mat-header-row *matHeaderRowDef="displayedColumns; sticky: true"></mat-header-row>
      <mat-row *matRowDef="let row; columns: displayedColumns;"></mat-row>

    </mat-table>
  </mat-card>

</div>